/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
    
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    line-height: 1.65em;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    font-weight: bold;
}



header{
    background-color: black;
    width: 100%;
}

header button{
    font-size: 1.5em;
    background-color:#f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    padding: 2% 6%;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 2% 0 10% 0;
}

aside{
    margin: 1px solid #dee1e3;
}

header #banner{
    background-image: url("/lezione5/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: 0 15%;
    border: none;
    text-align: center;
    background-image: center center;
}

header #logo img{
    width: 15%;
    padding: 1%;
}

header #banner h1 {
    font-size: 3em;
  line-height: 1em;
  text-align: center;
  padding: 10% 20% 2% 20%;
}

main #conteiner-spiegazioni{
    display: inline-block;
    text-align: left;
    padding-bottom: 10%;
    margin-right: 10%;

}

main{
    padding: 10% 0 0 0;
    text-align: center;
}

main div h3{
    padding: 3% 0;
}

main #notebook img{
    width: 80%;
    border-radius: 50%
}

main #notebook {
    display: inline-block;
    padding-bottom: 10%;
    padding-right: 5%;
}



#ceo{
    text-align: center;
    background-color:#f04c2f;
    margin: 0 0 5% 0;
    color: white;
    padding: 0 0 0 0;
}

#ceo h2{
    color: white;
    font-size: 2.5em;
    padding: 5% 0 1.5% 0 ;
}

#ceo blockquote {
    font-style: italic;
}

main #ceo-id {
    padding: 1.5% 0 3% 0;
}

main #ceo-id p:last-child{
    font-size: 0.8em;
}

#aside-conteiner{
    padding: 0 5%;
    text-align: center;
}

aside #aside-conteiner div img {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

aside #aside-conteiner div{
    border: 2px solid #dee1e3;
    display: inline-block;
    width: 30%;
    height: 30vh;
}

aside #aside-conteiner h3{
    padding: 3% 0;
}

aside #aside-conteiner p{
    padding-bottom: 5%;
}

aside #aside-conteiner div{
    margin: 5% 1% 0 1%;
}

footer{
    color: white; /* colore del titolo */
    font-weight: bold;
    background-color: #25a2c3;
    text-align: center;
    color: #c8e7f0;
    margin-top:5% ;
    
    
}

footer a{
    color: #c8e7f0;
}

footer ul li{
    font-weight: lighter;
}

footer ul{
    padding: 2% 0;
    border-bottom: 1px solid #c8e7f0;
    width: 15%;
    text-align: left;
    margin: 0 auto;
    list-style: none;
}

footer h2{
    color: white;
    font-size: 3em;
    padding: 2% 0 0 0;
}

footer div ul li ion-icon {
    background-color: white;
    color: #25a2c3;
    border-radius: 3px;
}



footer #copy{
    margin: 0 auto;
    font-size: 0.9em;
    font-weight: lighter;
    padding: 3% 0 3% 0;
}